# Variables de entorno
.env

# Entorno virtual
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Streamlit
.streamlit/secrets.toml

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Archivos generados
*.pdf
*.docx
